<h2>Pending Adoptions</h2>
<ul>

    <% @adoptions.each do |animal| %>
    <li> <%= animal.name %> (adopter name: <%= animal.adopter.first_name %>)</li>
    
       <%= link_to "approved", animal_approve_path(animal.id) %>

    <% end %>
</ul>
