.field_with_errors {
  border: 2px solid rgb(128, 81, 81);
}

@media only screen and (max-width: 600px) {
  body {
    background-color: lightblue;
  }
}

body {
  background-image: url("https://images.unsplash.com/photo-1576201836106-db1758fd1c97?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTF8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80");
  background-repeat: no-repeat;
  background-size: 1600px 1600px;
  background-position: auto;
}
